html {
    background-color:rgba(35, 178, 218, 1); /*#FFFF99;*/
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
}

footer a {
    color: #FFF;
    text-decoration: none;
}
.personal{
  /*float:right;*/
  left:150px;
}
.app {
    width: 70%;
    margin-top: 10%;
    left: 270px;

}

.imag-pru{
  background-image: url("http://cortinahome.es/media/wysiwyg/cortinahome/iconos/ico-temperatura.png");
  background-position:top left;
  background-repeat: no-repeat;
  display: block;
}

h4 {
    font-family: Arial;
    max-width: 300px;
    margin:0 0 25px;
    overflow:hidden;
    padding:20px;
    background-color:rgba(255, 255, 0, 0.9);
    border:1px ;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

span {
    color: red;
}

@media (max-width: 550px) {
    footer {
        text-align: center;
    }
}
