html {
    background-color: #eee;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #222;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

.app {
    margin-top: 10%;
}

h4 {
    font-weight: 500;
}

span {
    color: green;
}

@media (max-width: 550px) {
    footer {
        text-align: center;
    }
}